[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-choices = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
factory-boy = "*"
faker = "*"
pytest-cov = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
coreapi = "*"
pygments = "*"
drf-yasg = "*"
coverage = "*"

[requires]
python_version = "3.7"
